.footer {
    background-color:rgb(119, 113, 113);
    color: white;
    width: 100%;
}

.footer__title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__catalog {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 80px;
}

/* .footer__catalog__space {
    width: 20%;
} */

.footer__catalog__redes-sociais img {
    height: 60px;
    padding: 10px;
}

.footer__catalog__redes-sociais ul {
    display: flex;
    flex-flow: row wrap;
}

.footer__copyright {
    background-color:rgb(36, 34, 34);
}

ul {
    text-decoration: none;
}

ul li {
    list-style: none;
}