h1 {
    text-align: center;
    font-size: 40px;
}
.bordao {
    font-size: 25px;
}

li {
    font-weight: 900;
    font-size: 30px;
}

.servicos-imagem-t {
    height: 350px;
}

.servicos-imagem-f {
    height: 310px;
}

.servicos-imagem-e {
    height: 320px;
}

.servicos-imagem-a {
    height: 330px;
}

.servicos-imagem-w {
    height: 470px;
}

.cor-servicos {
    background: yellow;
}

